html,
body {
    background-color: antiquewhite;
    min-width: 280px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.75;
}

#navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 290px;
    background-color: rgb(226, 226, 226);
    height: 100%;
    padding: 1.5em;
    min-width: 240px;
    border-right: solid;
    border-color: rgb(86, 53, 53);
}

#main-doc{
    position: absolute;
    margin-left: 340px;
    padding: 20px;
    margin-bottom: 110px;
}

section article{
    margin: 0 5px 0 5px;
    font-size: 0.9em;
}

section li {
    margin: 15px 0px 0px 20px;
}
  
header{
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    margin: 10px;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

#main-doc h2{
    font-weight: normal;
}

#navbar header {
    text-align: center;
    font-weight: normal;
    margin-bottom: 20px;
    border-bottom: dashed 1px #4d4e53;
}

#navbar ul {
    height: 85%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#navbar li{
    width: 100%;
    border-top: 1px solid;
    position: relative;
    list-style: none;
}

#navbar li:first-child{
    border: none;
}

#navbar a {
    display: block;
    color: #4d4e53;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
}

#navbar a:hover {
    background-color: antiquewhite;
    color: black;
}

code{
    background-color: rgb(35, 36, 47);
    color: rgb(179, 241, 64);
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid black;
    display: block;
    position: relative;
    text-align: left;
    white-space: pre-line;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
}

@media only screen and (max-width: 815px) { /* For mobiles */
    #navbar ul {
        height: 245px;
        background-color: #faebaf;
    }

    #navbar {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        max-height: 320px;
        border: none;
        z-index: 3;
        border: none;
        background-color: #faebd7;
    }

    #main-doc {
        position: relative;
        margin: -10px;
        padding-top: 330px;
    }
}

@media only screen and (max-width:400px) {
    #main-doc {
        margin: -10px;
    }
}