:root {
  --main-red: #fd5252;
  --main-black: #1f1a1a;
  --main-gray: #d9d9d9;
  --main-white: #ffffff;
  --light-gray: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-black);
}

a {
  text-decoration: none;
  color: var(--main-white);
}

h1 {
  font-size: 4rem;
}
img {
  display: block;
  width: 100%;
}
/* NAVIGATION */
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--main-black);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-list {
  display: flex;
  margin-right: 3rem;
}

.nav-list li {
  list-style: none;
}
.nav-list a {
  display: block;
  font-size: 2.5rem;
  padding: 2rem;
}

.nav-list a:hover {
  background-color: var(--main-red);
}

/* END NAVIGATION */

/* WELCOME SECTION */

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-red);
}
.about-me-description {
  max-width: 80%;
  color: var(--light-gray);
  text-align: center;
  font-size: 2.5rem;
}
.about-me-role {
  font-style: italic;
  margin: 1rem 0 4rem 0;
  font-size: 1.8rem;
  color: var(--main-gray);
  border: 1px solid var(--main-gray);
  padding: 0.75rem 1rem;
  border-radius: 5px;
}
code {
  color: var(--main-black);
  font-size: 2rem;
}
/* END WELCOME SECTION */

/* PROJECT SECTION */

.projects-section {
  width: auto;
  height: auto;
  text-align: center;
  background-color: var(--light-gray);
  padding: 10rem 2rem;
}
.projects-section h2 {
  margin: 0 auto 4rem auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--main-red);
  max-width: 40rem;
}
#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 4rem;
  overflow: hidden;
}
.project {
  background: var(--main-red);
  border-radius: 5px;
}

.project-image {
  /* height: calc(100% - 5rem); */
  width: 100%;
  object-fit: cover;
  border: 1px solid var(--main-gray);
}

.project-title {
  padding: 2rem 2rem 1rem 2rem;
}
/* END PROJECT SECTION */

/* CONTACT SECTION */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: var(--main-red);
}

.contact-section-header > h2 {
  font-size: 4rem;
}
.contact-section-header p {
  font-style: italic;
  padding: 2rem;
  color: var(--main-white);
  max-width: 70%;
  margin: 0 auto;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0 1.5rem;
  border-radius: 5px;
  border: 1px solid var(--main-gray);
}
.btn:hover {
  color: var(--main-black);
  background-color: var(--light-gray);
}

/* END CONTACT SECTION */

/* FOOTER */
footer {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}
footer a {
  color: var(--main-black);
  font-weight: 700;
}

/* END FOOTER */

/* MEDIA QUERIES */

@media (max-width: 480px) {
  .nav {
    justify-content: center;
    height: 55px;
  }
  .nav-list {
    margin: 0;
  }
  .nav-list a {
    padding: 1rem;
    font-size: 2rem;
  }
  h1 {
    font-size: 3rem;
  }
  #welcome-section {
    min-height: 700px;
  }
}

@media (max-width: 550px) {
  .nav {
    justify-content: center;
    height: 55px;
  }
  #welcome-section {
    min-height: 700px;
  }
}
